* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #e28410;
}

.glass {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    background: url(../images/item.jpg) 50% 50% no-repeat;
    background-size: cover;
    border: 3px solid #fff;
    overflow: hidden;
    animation: animate 5s linear infinite;
}

.shadow {
    position: absolute;
    top: calc(50% + 230px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 10px;
    background: #000;
    filter: blur(5px);
    border-radius: 50%;
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) skewY(5deg);
    }
    50% {
        transform: translate(-50%, -50%) skewY(-5deg);
    }
    100% {
        transform: translate(-50%, -50%) skewY(5deg);
    }
}

.glass::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transform: skewX(-20deg);
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0% {
        transform: skewX(-20deg) translateX(-200px);
    }
    50% {
        transform: skewX(-20deg) translateX(-100px);
    }
    100% {
        transform: skewX(-20deg) translateX(-200px);
    }
}
